//@floatDivColor : rgba(0, 0, 0, 0.6);
@menuColor: #009DB4;
@menuColor1: #663818;
@menuTextColor: #E3C286;
@floatDivColor : rgba(255, 255, 255, 0.45);
#menuTransition() {
    -webkit-transition: 0.3s;
}

#backgroundImg() {
    background-image: url('./imgs/darkbackground.jpg');
    background-attachment: fixed;
    background-position: right top;
}

#parallaxBackgroundImg() {
    background-image: url('./imgs/woodFloor.jpg');
    background-repeat: repeat;
}

#floatContainer() {
    width: 70%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: @floatDivColor;
}

//parallax mixins
#parallaxClass() {
    perspective: 1px;
    perspective-origin: 0 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#parallax() {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#background() {
    transform-origin: 0 0;
    transform: translateZ(-9px) scale(11);
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

#foreground() {
    transform: translateZ(0);
}

body {
    margin: 0;
    .titleContainer {
        z-index: 100;
        position: fixed;
        width: 100%;
        height: 125px;
        background-color: rgba(0, 0, 0, 0.0);
        #menuTransition;
        .menu {
            #menuTransition;
            .menu-content {
                display: inline-block;
                padding-left: 20px;
                h2 {
                    #menuTransition;
                    color: @menuColor1;
                    margin-top: 50px;
                    padding: 5px;
                }
            }
        }
    }
    .titleContainerSolid {
        height: 75px;
        .menu {
            background-color: @menuColor !important;
            margin-right: 15px;
            .left-title {
                h2 {
                    color: @menuTextColor;
                    margin-top: 25px;
                    padding: 0px;
                }
            }
        }
    }
    .parallaxClass {
        #parallaxClass;
        .parallax {
            #parallax;
        }
        .background {
            //#parallaxBackgroundImg;
            #background;
        }
        .foreground {
            #foreground;
            .contentContainer {
                #floatContainer;
                margin-top: 200px;
            }
        }
    }
}